footer {
  flex-shrink: 0;
  font-size: 0.8em;
  font-family: $default;
  background-color: #f1f1f1;
  color: #999;

  line-height: 1.3em;
  padding: 0.8em 2em;

  a {
    font-family: $links;
    color: #999 !important;
    text-decoration: underline !important;
  }
}