@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Lato|VT323');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Space+Mono');

$links: 'VT323', monospace;

@import url('https://fonts.googleapis.com/css?family=Space+Mono');


$default: 'Roboto Mono', monospace;




pre {
  padding: 0;
  margin: 0;
}

.load {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  background: black;
}

.term {
  font-family: monospace;
  color: #fff;
  opacity: 0.8;
  font-size: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.term:after {
  content: "_";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-family: $default;
  font-size: 16px;
  color: #000;
}

a, a:visited {
  text-decoration: none;
  color: #000;

  &:hover, &:active {
    text-decoration: underline;
    color: #666;
  }
}

p {
  margin: 0.5em 0 2em 0;
}

h1, h2, h3 {
  margin: 0.5em 0 0 0;

  small {
    font-size: 10px;
  }
}

header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  line-height: 1.3em;
  padding: 0.8em 2em;
  padding-bottom: 1em;
  background-color: #000;
  color: #FFFFFF;

  .site-title {
    font-size: 1.3em;

    a {
      color: #fff !important;
      text-decoration: none !important;
    }

    img {
      height: 0.5em;
    }
  }

  nav {
    flex: 1;
    text-align: right;
    ul {
      padding: 0 1em;
      margin: 0;
      list-style: none;

      li {
        font-weight: bold;
        padding: 0 0.5em;
        font-size: 0.9em;
        display: inline-block;
        text-transform: uppercase;
      }
    }
  }

  .site-description {
    font-size: 0.8em;
    opacity: 0.8;
  }

  a {
    //font-family: $links;
    color: inherit;
    opacity: 0.8;
  }

  a, a:visited {
    text-decoration: none;
    color: #ccc;

    &:hover, &:active {
      text-decoration: underline;
      color: #fff;
    }
  }


}

footer {
  flex-shrink: 0;
  font-size: 0.8em;
  font-family: $default;
  background-color: #f1f1f1;
  color: #999;

  line-height: 1.3em;
  padding: 0.8em 2em;

  a {
    font-family: $links;
    color: #999 !important;
    text-decoration: underline !important;
  }
}

article {
  flex: 1;
  .inner {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}


.intro {
  font-size: 1.3em;
}

.post {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.3em;
  .title {
    padding-bottom: 0.5em;

    a {
      font-size: 1.2em;
      font-weight: bold;
      color: #000;
      &:hover{
        color: #000;
      }
    }

  }



  .meta {
    flex:1;
    color:#ccc;
    .placeholder{
      margin: 0.2em;
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: #f1f1f1;
    }
    img {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      //-webkit-filter: grayscale(100%);
      //filter: grayscale(100%);
    }

    .tag {
      margin: 0 2px;
      border-radius: 3px;
      color: #666;
      font-size: 0.7em;
    }

  }
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


#hero {
  //background: #8A2387;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: linear-gradient(-45deg, #111, #333, #666, #999);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;


  //border-bottom: 1px solid #f1f1f1;
  padding: 2em 4em;
  padding-bottom: 4em;

  text-align: center;


  .bg {
    width:128px;
    height: 128px;
    background-image: url('/assets/skull.svg');
    background-position: center center;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  div {

    background-position: right center;
    max-width: 65em;
    margin: 0 auto;

    h1 {
      font-family: 'Roboto Condensed', sans-serif;

      margin: 0 auto;
      color: #FFF;
      max-width: 13em;
      font-size: 3em;
      padding-bottom: 1em;
      letter-spacing: 0.1px;
      //text-decoration: underline;
      //text-decoration-color: #E94057;
    }

    a {
      text-transform: uppercase;
      font-size: 1em;
      color: rgba(255, 255, 255, 0.8);
      margin: 0em 0.4em;
    }
  }
}

#posts {
  flex: 1;
  display: flex;
  flex-direction: row;

  h3 {
    font-family: 'Roboto Mono', sans-serif;
    color: #ccc;
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
  }


  h4 {
    font-family: 'Roboto Mono', sans-serif;
    color: #ccc;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
  }

  .inner {
    font-family: 'Roboto', sans-serif;
    max-width: 65em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .content {
    padding-top: 2em;
    flex: 1;
    border-right: 1px solid #f1f1f1;
    padding-bottom: 2em;

  }

  .topics {
    padding-left: 1.5em;
    padding-top: 2em;
    width: 18em;

    ul {
      border-top: 1px dashed #ccc;
      padding: 0;
      list-style: none;
      li{
        padding: 10px 0;
        border-bottom: 1px dashed #ccc;
        font-size: 0.8em;
        a {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

}