<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang }}">

<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href="{{ site.styles | relative_url }}"/>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<header>
    <div class="site-title">
        <a href="{{ site.base_url }}/">{{ site.title }}</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/1920px-Flag_of_Tunisia.svg.png"
             alt="fff"/></div>

    <nav>
        {% if show_navigation != false %}
        <ul>
            <li>
                <a href="/">Articles</a>
            </li>
            <li>
                <a href="/manifesto">Manifesto</a>
            </li>
            <li>
                <a href="/contributors">Contributors</a>
            </li>
            <li>
                <a href="/contribute">How to contribute</a>
            </li>
        </ul>
        {% endif %}
    </nav>
</header>

<article>
    <div class="inner">
        {{ content }}
    </div>
</article>

<footer>
    <div class="inner">
        Copyleft {{ site.time | date: '%Y' }} {{ site.title }} and contributors.
    </div>
</footer>

</body>

</html>


