<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang }}">

<head>
    <meta charset="utf-8">

    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>{{page.title}}{% if page.title %} / {% endif %}leetspeek</title>
    <meta content="{{ page.description }}" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/assets/css/style.css" rel='stylesheet'/>

</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<header>
    <div class="site-title">
        <a href="{{ site.base_url }}/">{{ site.title }}</a>
        </div>

    <nav>
        {% if show_navigation != false %}
        <ul>
            <li>
                <a href="/">Articles</a>
            </li>
            <li>
                <a href="/manifesto">Manifesto</a>
            </li>
            <li>
                <a href="/contributors">Contributors</a>
            </li>
            <li>
                <a href="/contribute">How to contribute</a>
            </li>

            <li>
                <a class="avatar" href="https://github.com/leetspeek/leetspeek/" target="_blank"><img width="12px" alt="fff"
                                              src="/assets/github.svg" /></a>
            </li>
        </ul>
        {% endif %}
    </nav>
</header>

<article>
    <div class="inner">
        {{ content }}
    </div>
</article>

<footer>
    <div class="inner">
        Copyleft {{ site.time | date: '%Y' }} {{ site.title }} and <a href="/contributors">contributors</a>.
    </div>
</footer>

</body>

</html>


